*{
    margin: 0;
    padding: 0;
}
.app {
    width: 350px;
    margin: 0 auto;
    padding: 20px;
}
.img-fondo{
    height: 400px;
    background-color: #EDF0F5;
}

.title {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 35px;
    color: #38424B;
}

@media (max-width:380px){
    .title{
        font-size: 25px;
    }
}
@media (max-width:321px){
    .app{
        width: 250px;
    }
}

/* Estilos para el formulario de transacción */
.formulario {
    float: none;
    width: 50%;
    padding: 25px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.transa {
    display: flex;
    align-items: center;
    font-size: 26px;
    margin-bottom: 26px;
    margin-top: 24px;
}

.transa .circle {
    width: 35px;
    height: 35px;
    background-color: #eeeeee;
    color: #b4b4b4;
    text-align: center;
    border-radius: 50%;
    line-height: 35px;
    margin-right: 15px;
}

.form-group {
    margin-bottom: 25px;
}

.btn-primary {
    width: 40%;
    background-color: #151d4d;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 8px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
}

/* codigo css de CARLOS NO ELIMINAR */

.contenedor_padre {
    display: flex;
    justify-content: space-between;
}

.boxTransacciones {
    padding: 25px;
    width: 50%;
}

.menu_botones {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.boxTransacciones button {
    padding: .7rem 1.5rem;
    border: 1px solid #252525;
    color: #252525;
    background: #ffffff;
    transition: background .6s ease;
}

.boxTransacciones button:hover {
    background: #252525;
    color: #fff
}

.transactionList {
    padding: 1rem;
    margin-bottom: 5px;
    border: 1px solid #ddd;
}

/* fin codigo de carlos */


@media (max-width: 600px) {
    .contenedor_padre {
        display: block;
    }
    .boxTransacciones {
        padding: 1rem;
        width: 100%;
    }

    .formulario, .menu_botones {
        width: 100%;
    }

    .transa {
        font-size: 26px;
    }
}



