*{
    margin: 0;
    padding: 0;
}
.app {
    width: 350px;
    margin: 0 auto;
    padding: 20px;
}
.img-fondo{
    height: 400px;
}

.title {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 35px;
    color: #63717C;
}

@media (max-width:380px){
    .title{
        font-size: 25px;
    }
}
@media (max-width:321px){
    .app{
        width: 250px;
    }
}

/* Estilos para el formulario de transacción */
.contenedor_padre {
    display: flex;
    justify-content: space-between;
}

.formulario {
    width: 50%;
    padding: 25px;
    border: 1px solid #ccc;
}

.transa {
    display: flex;
    align-items: center;
    font-size: 26px;
    margin-bottom: 26px;
    margin-top: 24px;
}

.transa .circle {
    width: 35px;
    height: 35px;
    background-color: #eeeeee;
    color: #b4b4b4;
    text-align: center;
    border-radius: 50%;
    line-height: 27px;
    margin-right: 15px;
}

.form-group {
    margin-bottom: 25px; 
}

.btn-primary {
    width: 40%;
    background-color: #151d4d;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 8px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
}


/* codigo de carlos */

.egreso_ingreso {
    width: 50%;
    padding: 25px;
}

.egreso_ingreso h2 {
    margin-top: 1.5rem;
    font-size: 20px;
    color: #252525;
    font-weight: 500;
}

.menu_botones {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.menu_botones button {
    padding: .3rem 1rem;
    color: #252525;
    text-align: center;
    border: 1px solid #252525;
    border-radius: 5px;
    display: block;
    margin-right: 1rem;
}

.egresoD {
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}

